*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:#bd0335;
}
svg{
    margin-top: 330px;
    /* top: -50%; */
}
.container{
    background-color: hsl(0, 0%, 99%);
    font-size: 16px;
    padding: 3.6em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    left: 50%;
    top: 1em;
    transform: translate(-50%,-5%);
    border-radius: 0.6em;
    box-shadow: 0 .2em 1em;
}
.search-container{
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}
.search-container input{
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid #202030;
    /* box-shadow:0 0.2em .3em; */
}
.search-container button{
    font-size: 1em;
    background-color: #f4c531;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
    box-shadow:0 0.2em .3em;
}
img{
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
}
.details{
    background-color: #f4c531;
    position: relative;
    margin: -4.3em auto 0 0 ;
    text-align: center;
    padding: 0.8em 0;
}
.details h2{
    font-size: 1.2em;
    font-weight: 600;
}
.details h4{
    font-size: 1.2em;
    font-weight: 400;
}
h3{
    text-align: center;
    margin-top: 1.8em;
    color: #202030;
}
#recipe{
    position: absolute;
    background-color: #ffffff;
    min-height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    box-shadow: 0 .3em 1.3em;
    display: none;
}
#recipe pre{
    white-space: pre-wrap;
    word-break: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
}
#show-recipe{
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.9em 0.6em;
    background-color: #f4c531;
    border: none;
    border-radius: 0.3em;
    top: 1.5em;
    font-weight: 600;
    box-shadow: 0 0.2em 0.3em;
}
#show-recipe:hover{
    background-color:#fcc101f8;
    cursor: pointer;
}
#hide-recipe{
    font-size: 1.2em;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background-color: #f4c531;
    border: none;
    top: 1.2em;
    left: 90%;
    border-radius: 0.3em;
    box-shadow: 0 0 .1em;
}
ul{
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
}
@media screen and (max-width:500px){
    .container{
        font-size: 14px;
    }
}
button::before{
    background:#c82647;
    box-shadow: inset 0 0 0 60px #151515;
    
}
button:hover{
    /* box-shadow: 0 1em 1em rgba(255, 255, 255, 0.813); */
    background-color:#fcc101f8;
    cursor: pointer;
}
input:focus::-webkit-input-placeholder{
    font-size: .9em;
    transform: translateY(-60%);
    transition: .3s;
    color: black;
    /* cursor: pointer; */
}